.toolbar{
    height:70px;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    background-color: rgba(23,23,23,1);
    box-shadow: 0px 3px 2px 0px rgba(23,23,23,.9);
    color:white;
    z-index: 90;
    justify-content: space-between;
    padding:0 20px;
    box-sizing: border-box
}

.toolbar nav {
    height:100%;
    
}

@media(max-width:768px){
    .toolbar{
        height:50px
    }           
    .NavigationItems
    {
        display: none
    }
}

.logo{
    height:70%;
}


