.header{
  height: 70px;
  width: 100vw;
  background-color: rgba(0,0,0,.7);
}
.content
{
  margin-top: 90px;
  /* background-color: red; */
}
@media(max-width:768px){
  .content{
    margin-top:70px;
  }
}