

.Button {
    background-color: rgba(221,221,221,.7);
    border: none;
    color: rgba(47,47,47,.7);
    outline: none;
    cursor: pointer;
    font: inherit;
    width:120px;
    height: 25px;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 10px;
    box-shadow:0 0 2px 0 rgba(23,23,23,.5);
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}